<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a88e0ad8bb3044f188f5c195a286cbd3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a88e0ad8bb3044f188f5c195a286cbd3" ></div>
        
</body>
<script>    
    
            var map_a88e0ad8bb3044f188f5c195a286cbd3 = L.map(
                "map_a88e0ad8bb3044f188f5c195a286cbd3",
                {
                    center: [40.420306, -3.703368],
                    crs: L.CRS.EPSG3857,
                    zoom: "16",
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a87ea9ff89ad4b5ca4661f2eb68b71b1 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a88e0ad8bb3044f188f5c195a286cbd3);
        
    
            var marker_c8d9c6c9a84b4c7dae16faedc12d2821 = L.marker(
                [40.420306, -3.703368],
                {}
            ).addTo(map_a88e0ad8bb3044f188f5c195a286cbd3);
        
    
        var popup_9eaab305471b41268e62eb7b8de9701b = L.popup({"maxWidth": "100%"});

        
            var html_a4ca2d7b28ef4323b7f2c425f3dce3ec = $(`<div id="html_a4ca2d7b28ef4323b7f2c425f3dce3ec" style="width: 100.0%; height: 100.0%;"><div class="card" style="width: 18rem;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQET-FS3csldjIQPUvniMaiV1rtyQJsKB95zg&usqp=CAU" class="card-img-top" style="max-height:100px; width: auto;><div class="card-body"><h5 class="card-title">Deportes Moya</h5><p class="card-text">Descuento del 5% en zapatillas</p><a href="/reto/R001" class="btn btn-primary">Acepta el reto!!</a> </div></div></div>`)[0];
            popup_9eaab305471b41268e62eb7b8de9701b.setContent(html_a4ca2d7b28ef4323b7f2c425f3dce3ec);
        

        marker_c8d9c6c9a84b4c7dae16faedc12d2821.bindPopup(popup_9eaab305471b41268e62eb7b8de9701b)
        ;

        
    
    
            marker_c8d9c6c9a84b4c7dae16faedc12d2821.bindTooltip(
                `<div>
                     Click me
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_484fd4f70c6a4a51841959ab72c982a8 = L.marker(
                [40.423412, -3.710553],
                {}
            ).addTo(map_a88e0ad8bb3044f188f5c195a286cbd3);
        
    
        var popup_d767a685e1014c2691acd801c206380a = L.popup({"maxWidth": "100%"});

        
            var html_5a34422159b54ef29d971873ec2dda70 = $(`<div id="html_5a34422159b54ef29d971873ec2dda70" style="width: 100.0%; height: 100.0%;"><div class="card" style="width: 18rem;"><img src="https://setmanarsc.org/wp-content/uploads/2018/10/cinesa.png" class="card-img-top" style="max-height:100px; width: auto;><div class="card-body"><h5 class="card-title">Cinesa</h5><p class="card-text">Una bolsa de palomitas en tu próximo estreno</p><a href="/reto/R002" class="btn btn-primary">Acepta el reto!!</a> </div></div></div>`)[0];
            popup_d767a685e1014c2691acd801c206380a.setContent(html_5a34422159b54ef29d971873ec2dda70);
        

        marker_484fd4f70c6a4a51841959ab72c982a8.bindPopup(popup_d767a685e1014c2691acd801c206380a)
        ;

        
    
    
            marker_484fd4f70c6a4a51841959ab72c982a8.bindTooltip(
                `<div>
                     Click me
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9b5fd9ef365e41a1bc0c481b3cf33aab = L.marker(
                [40.418349, -3.704874],
                {}
            ).addTo(map_a88e0ad8bb3044f188f5c195a286cbd3);
        
    
        var popup_005d99dab98845d28b9b02e406c0432c = L.popup({"maxWidth": "100%"});

        
            var html_6139067050bc4031a4a29001d1fdc4de = $(`<div id="html_6139067050bc4031a4a29001d1fdc4de" style="width: 100.0%; height: 100.0%;"><div class="card" style="width: 18rem;"><img src="https://www.nevada.shopping/sites/nevada.shopping/files/field/operador-logo/fnac.jpg" class="card-img-top" style="max-height:100px; width: auto;><div class="card-body"><h5 class="card-title">FNAC</h5><p class="card-text">Llevate nuestra bolsa de tela FNAC con cualquier compra</p><a href="/reto/R001" class="btn btn-primary">Acepta el reto!!</a> </div></div></div>`)[0];
            popup_005d99dab98845d28b9b02e406c0432c.setContent(html_6139067050bc4031a4a29001d1fdc4de);
        

        marker_9b5fd9ef365e41a1bc0c481b3cf33aab.bindPopup(popup_005d99dab98845d28b9b02e406c0432c)
        ;

        
    
    
            marker_9b5fd9ef365e41a1bc0c481b3cf33aab.bindTooltip(
                `<div>
                     Click me
                 </div>`,
                {"sticky": true}
            );
        
</script>