<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_386e7f269769426e860ff443ba9cc9c0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_386e7f269769426e860ff443ba9cc9c0" ></div>
        
</body>
<script>    
    
            var map_386e7f269769426e860ff443ba9cc9c0 = L.map(
                "map_386e7f269769426e860ff443ba9cc9c0",
                {
                    center: [40.420306, -3.703368],
                    crs: L.CRS.EPSG3857,
                    zoom: "16",
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_fbc19d2a514a4c0f968791fd29311be5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_386e7f269769426e860ff443ba9cc9c0);
        
    
            var marker_7cb080d676994c189f1752a3ab6e173b = L.marker(
                [40.420306, -3.703368],
                {}
            ).addTo(map_386e7f269769426e860ff443ba9cc9c0);
        
    
        var popup_34024ff2584948589fb5b92ea0f2fc13 = L.popup({"maxWidth": "100%"});

        
            var html_dd4f0452d5214d02bea6606e9ef1e216 = $(`<div id="html_dd4f0452d5214d02bea6606e9ef1e216" style="width: 100.0%; height: 100.0%;"><div class="card" style="width: 18rem;"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQET-FS3csldjIQPUvniMaiV1rtyQJsKB95zg&usqp=CAU" class="card-img-top" style="max-height:100px; width: auto;><div class="card-body"><h5 class="card-title">Deportes Moya</h5><p class="card-text">Descuento del 5% en zapatillas</p><a href="/reto/R001" class="btn btn-primary">Acepta el reto!!</a> </div></div></div>`)[0];
            popup_34024ff2584948589fb5b92ea0f2fc13.setContent(html_dd4f0452d5214d02bea6606e9ef1e216);
        

        marker_7cb080d676994c189f1752a3ab6e173b.bindPopup(popup_34024ff2584948589fb5b92ea0f2fc13)
        ;

        
    
    
            marker_7cb080d676994c189f1752a3ab6e173b.bindTooltip(
                `<div>
                     Click me
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_005807aede7b49028ccbdfd69cb442ae = L.marker(
                [40.423412, -3.710553],
                {}
            ).addTo(map_386e7f269769426e860ff443ba9cc9c0);
        
    
        var popup_88776a83c7614bfabcf11b4aff518709 = L.popup({"maxWidth": "100%"});

        
            var html_301c61bf546d4b98a6dee40d1710d881 = $(`<div id="html_301c61bf546d4b98a6dee40d1710d881" style="width: 100.0%; height: 100.0%;"><div class="card" style="width: 18rem;"><img src="https://setmanarsc.org/wp-content/uploads/2018/10/cinesa.png" class="card-img-top" style="max-height:100px; width: auto;><div class="card-body"><h5 class="card-title">Cinesa</h5><p class="card-text">Una bolsa de palomitas en tu próximo estreno</p><a href="/reto/R002" class="btn btn-primary">Acepta el reto!!</a> </div></div></div>`)[0];
            popup_88776a83c7614bfabcf11b4aff518709.setContent(html_301c61bf546d4b98a6dee40d1710d881);
        

        marker_005807aede7b49028ccbdfd69cb442ae.bindPopup(popup_88776a83c7614bfabcf11b4aff518709)
        ;

        
    
    
            marker_005807aede7b49028ccbdfd69cb442ae.bindTooltip(
                `<div>
                     Click me
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9c719ab3d68944c09dd5e9b39b8a7f48 = L.marker(
                [40.418349, -3.704874],
                {}
            ).addTo(map_386e7f269769426e860ff443ba9cc9c0);
        
    
        var popup_a1ce1bbde2d54db18d12f6d658273265 = L.popup({"maxWidth": "100%"});

        
            var html_014392d094a24c4f93bc8b2d15cab58c = $(`<div id="html_014392d094a24c4f93bc8b2d15cab58c" style="width: 100.0%; height: 100.0%;"><div class="card" style="width: 18rem;"><img src="https://www.nevada.shopping/sites/nevada.shopping/files/field/operador-logo/fnac.jpg" class="card-img-top" style="max-height:100px; width: auto;><div class="card-body"><h5 class="card-title">FNAC</h5><p class="card-text">Llevate nuestra bolsa de tela FNAC con cualquier compra</p><a href="/reto/R001" class="btn btn-primary">Acepta el reto!!</a> </div></div></div>`)[0];
            popup_a1ce1bbde2d54db18d12f6d658273265.setContent(html_014392d094a24c4f93bc8b2d15cab58c);
        

        marker_9c719ab3d68944c09dd5e9b39b8a7f48.bindPopup(popup_a1ce1bbde2d54db18d12f6d658273265)
        ;

        
    
    
            marker_9c719ab3d68944c09dd5e9b39b8a7f48.bindTooltip(
                `<div>
                     Click me
                 </div>`,
                {"sticky": true}
            );
        
</script>