{% extends 'base.html' %}

{% block content %}

{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'django_docker/css/style.css' %}"> -->
    <div class="content-wrapper col-12">
            <h1>Ranking</h1>

            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Premio mejor del mes de tu provincia</h5>
                    <p class="card-text">Playstation 5</p>
                    <a href="/ofertas" class="btn btn-primary">Ir a subir puntos!!</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Premio mejor del mes de tu Código Postal</h5>
                    <p class="card-text">Vale 5€ de descuento en tu próxima comprar online</p>
                    <a href="/ofertas" class="btn btn-primary">Ir a subir puntos!!</a>
                  </div>
                </div>
              </div>
            </div>

                <form action="/ranking/" method="POST" class="form-inline"> {% csrf_token %}
                    <div class="form-group">
                        <label for="zip_code" class="my-1 mr-2">Codigo Postal</label>
                        <select id="zip_code" name="zip_code" class="custom-select my-1 mr-sm-2" required onchange="this.form.submit()">
                            <option value=""></option>
                          {% for element in zip_codes %}
                            <option value={{ element.zip_code }}>{{ element.zip_code }}</option>
                          {% endfor %}
                        </select>
                      </div>
                </form>

            <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Points</th>
                            <th>Provincia</th>
                            <th>Codigo Postal</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for element in ranking %}
                        <tr style="font-size:smaller;">
                            <td> {{ element.user }} </td>
                            <td> {{ element.points }} </td>
                            <td> {{ element.province }} </td>
                            <td> {{ element.zip_code }} </td>
                        </tr>
            
                    {% endfor %}
                </tbody>
            </table>
        </div> 

{% endblock content %}