{% extends 'base.html' %}

{% block content %}

{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'django_docker/css/style.css' %}"> -->

<div class="content-wrapper col-12">
    <h1>Reto</h1>
    {% for element in reto %}
    <div class="card text-center">
      <div class="card-header">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ element.desc_reto }}</h5>
        <p class="card-text">
          <ul>
            <li style="list-style-type: none;">Puntos Todo Ok: {{ element.points_1 }}</li>
            <li style="list-style-type: none;">Puntos 1 fallo: {{ element.points_2 }}</li>
            <li style="list-style-type: none;">Puntos 2 fallo: {{ element.points_3 }}</li>
          </ul> 
        </p>
      </div>
      <div class="card-footer text-muted">
        ¡ Suerte !
      </div>
    </div>
     {% for ele_question in element.questions.all %}

        <ul class="list-group">
          <li class="list-group-item active">{{ ele_question.desc_question }}</li>
            {% for ele_answer in answers %}
                {% if ele_question.id_question == ele_answer.question.id_question %}
                    <li class="list-group-item"><input type="radio" id="{{ele_answer.id_answer}}"
                                                       name="{{ele_question.id_question}}"
                                                       value="male"> {{ele_answer.desc_answer}}</li>
                {% endif %}
            {% endfor %}
        </ul>

     {% endfor %}
   {% endfor %}
<div class="mt-5">
    <a class="btn btn-success btn-lg btn-block" href="/result" role="button">Validar</a>
</div>



</div>

{% endblock content %}