.layout.horizontal, .layout.vertical {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.layout.inline {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.layout.horizontal {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.layout.vertical {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.layout.wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.layout.no-wrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.layout.center, .layout.center-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.layout.center-justified, .layout.center-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.flex-auto {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.flex-none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

.layout.horizontal-reverse, .layout.vertical-reverse {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.layout.horizontal-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.layout.vertical-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.layout.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

/**
       * Alignment in cross axis.
       */

.layout.start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.layout.center, .layout.center-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.layout.end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.layout.baseline {
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}

/**
       * Alignment in main axis.
       */

.layout.start-justified {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.layout.center-justified, .layout.center-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.layout.end-justified {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.layout.around-justified {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.layout.justified {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/**
       * Self alignment.
       */

.self-start {
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.self-center {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}

.self-end {
  -ms-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.self-stretch {
  -ms-align-self: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

.self-baseline {
  -ms-align-self: baseline;
  -webkit-align-self: baseline;
  align-self: baseline;
}

/**
       * multi-line alignment in main axis.
       */

.layout.start-aligned {
  -ms-flex-line-pack: start;
  /* IE10 */
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.layout.end-aligned {
  -ms-flex-line-pack: end;
  /* IE10 */
  -ms-align-content: flex-end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.layout.center-aligned {
  -ms-flex-line-pack: center;
  /* IE10 */
  -ms-align-content: center;
  -webkit-align-content: center;
  align-content: center;
}

.layout.between-aligned {
  -ms-flex-line-pack: justify;
  /* IE10 */
  -ms-align-content: space-between;
  -webkit-align-content: space-between;
  align-content: space-between;
}

.layout.around-aligned {
  -ms-flex-line-pack: distribute;
  /* IE10 */
  -ms-align-content: space-around;
  -webkit-align-content: space-around;
  align-content: space-around;
}

.flex, .flex-1 {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.flex-2 {
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}

.flex-3 {
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}

.flex-4 {
  -ms-flex: 4;
  -webkit-flex: 4;
  flex: 4;
}

.flex-5 {
  -ms-flex: 5;
  -webkit-flex: 5;
  flex: 5;
}

.flex-6 {
  -ms-flex: 6;
  -webkit-flex: 6;
  flex: 6;
}

.flex-7 {
  -ms-flex: 7;
  -webkit-flex: 7;
  flex: 7;
}

.flex-8 {
  -ms-flex: 8;
  -webkit-flex: 8;
  flex: 8;
}

.flex-9 {
  -ms-flex: 9;
  -webkit-flex: 9;
  flex: 9;
}

.flex-10 {
  -ms-flex: 10;
  -webkit-flex: 10;
  flex: 10;
}

.flex-11 {
  -ms-flex: 11;
  -webkit-flex: 11;
  flex: 11;
}

.flex-12 {
  -ms-flex: 12;
  -webkit-flex: 12;
  flex: 12;
}

.block {
  display: block;
}

[hidden] {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.relative {
  position: relative;
}

.fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body.fullbleed {
  margin: 0;
  height: 100vh;
}

.scroll {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

/* fixed position */

.fixed-bottom, .fixed-left, .fixed-right, .fixed-top {
  position: fixed;
}

.fixed-top {
  top: 0;
  left: 0;
  right: 0;
}

.fixed-right {
  top: 0;
  right: 0;
  bottom: 0;
}

.fixed-bottom {
  right: 0;
  bottom: 0;
  left: 0;
}

.fixed-left {
  top: 0;
  bottom: 0;
  left: 0;
}


:root {
  --bbva-navy: #072146;
  --bbva-dark-navy: #041836;
  --bbva-dark-core-blue: #043263;
  --bbva-core-blue: #004481;
  --bbva-white-core-blue: #1464a5;
  --bbva-white-core-blue-new: #5bbeff;
  --bbva-dark-medium-blue: #1464a5;
  --bbva-medium-blue: #1973b8;
  --bbva-white-medium-blue: #49a5e6;
  --bbva-dark-light-blue: #49a5e6;
  --bbva-light-blue: #5bbeff;
  --bbva-white-light-blue: #d4edfc;
  --bbva-aqua: #2dcccd;
  --bbva-dark-aqua: #028484;
  --bbva-med-aqua: #02a5a5;
  --bbva-light-aqua: #5ac4c4;
  --bbva-white-aqua: #eaf9fa;
  --bbva-600: #121212;
  --bbva-500: #666;
  --bbva-400: #bdbdbd;
  --bbva-300: #d3d3d3;
  --bbva-200: #e9e9e9;
  --bbva-100: #f4f4f4;
  --bbva-white: #fff;
  --bbva-white-50: hsla(0,0%,100%,0.5);
  --bbva-dark-red: #b92a45;
  --bbva-red: #da3851;
  --bbva-medium-red: #c0475e;
  --bbva-light-red: #e77d8e;
  --bbva-white-red: #f4c3ca;
  --bbva-dark-orange: #c65302;
  --bbva-orange: #f7893b;
  --bbva-medium-orange: #d8732c;
  --bbva-light-orange: #fab27f;
  --bbva-white-orange: #fde7d8;
  --bbva-dark-yellow: #9c6c01;
  --bbva-yellow: #f8cd51;
  --bbva-medium-yellow: #c49735;
  --bbva-light-yellow: #fade8e;
  --bbva-white-yellow: #fef5dc;
  --bbva-dark-coral: #cb353a;
  --bbva-medium-coral: #d44b50;
  --bbva-light-coral: #f59799;
  --bbva-white-coral: #fcdfdf;
  --bbva-dark-gold: #8e7022;
  --bbva-gold: #d8be75;
  --bbva-medium-gold: #b79e5e;
  --bbva-light-gold: #e6d5a5;
  --bbva-white-gold: #f3ebd5;
  --bbva-dark-coral: #d44b50;
  --bbva-coral: #f35e61;
  --bbva-light-coral: #f79697;
  --bbva-white-coral: #fddfdf;
  --bbva-dark-green: #277a3e;
  --bbva-green: #48ae64;
  --bbva-medium-green: #388d4f;
  --bbva-light-green: #88ca9a;
  --bbva-white-green: #d9efe0;
  --bbva-dark-pink: #ad53a1;
  --bbva-pink: #f78be8;
  --bbva-medium-pink: #c569b9;
  --bbva-light-pink: #fab3f0;
  --bbva-white-pink: #fddcf8;
  --bbva-dark-purple: #6754b8;
  --bbva-purple: #8f7ae5;
  --bbva-medium-purple: #7c6ac7;
  --bbva-light-purple: #b6a8ee;
  --bbva-white-purple: #ddd7f7;
  --bbva-KMW_colour: var(--bbva-white);
  --KMW_colour: var(--bbva-white);
  --bbva-V1_colour: var(--bbva-core-blue);
  --bbva-V2_colour: var(--bbva-green);
  --bbva-V3_colour: var(--bbva-orange);
  --bbva-V4_colour: var(--bbva-yellow);
  --bbva-V5_colour: var(--bbva-400);
  --bbva-transparent_colour: transparent;
  --bbva-teal: var(--bbva-aqua);
  --bbva-dark-teal: var(--bbva-dark-aqua);
  --bbva-light-teal: var(--bbva-light-aqua);
  --bbva-white-teal: var(--bbva-white-aqua);
}

#main-header nav {
  background-color: var(--bbva-navy);
  height: 70px;
  padding: 0 25px;
}

.bg-primary{
  background-color: var(--bbva-navy)!important;
}


body {
	padding-top: 60px; /* Relleno superior igual a la altura de la cabecera*/
}

body .content-wrapper{
  margin-top: 20px;
}

div.olMapViewport {
    text-align: left;
    position: absolute !important;
}
.list-group-item.active{
	background-color: #004481 !important;
}
.table thead th{
	text-transform: uppercase;
	background-color: #004481;
	color:#fff;
	font-size: 15px;
}
.text-muted{
	color:#1973b8 !important;
	font-weight: bold;
}
h1{
	color: #121212 !important;
	font-family: sans-serif !important;

}

.card{
  margin: 10px;
}
